{% extends 'base.html' %}
{% load static %}
{% block title %}
Conversation in Action - {{title}}
{% endblock %}

{% block styles %}
    {% include 'main_app/includes/styles.html' %}
{% endblock styles %}

{% block content %}
{% include 'main_app/includes/header.html' %}


<section class="xs-banner-inner-section parallax-window" style="background-image:url({% static 'main_app/images/smiling_widows.jpg' %})">
<div class="xs-black-overlay"></div>
<div class="container">
<div class="color-white xs-inner-banner-content">
<h2>About Us</h2>
<p>Who are we and why are we here?</p>
<ul class="xs-breadcumb">
<li class="badge badge-pill badge-primary"><a href="{% url 'main-page' %}" class="color-white"> Home /</a> About</li>
</ul>
</div>
</div>
</section>

<main class="xs-main">

<div class="xs-video-popup-section">
<div class="container">
<div class="row">
<div class="col-lg-8 content-center">
<div class="xs-video-popup-wraper">
<img src="{% static 'main_app/images/clearing_the_bush.jpg' %}" alt="">
<div class="xs-video-popup-content">
<a href="{% static 'main_app/videos/video1.mp4' %}" class="xs-video-popup xs-round-btn">
<i class="fa fa-play"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</div> 

<section class="xs-content-section-padding">
<div class="container">
<div class="row">
<div class="col-lg-11 content-center">
<div class="xs-heading xs-mb-100 text-center">
<h2 class="xs-mb-0 xs-title">We are a Global non-profit organization that <span class="color-primary">supports</span> and moves for the good causes and positive change of widows all over the world.</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-md-4">
<div class="xs-about-feature">
<h3>Our Mission</h3>
<p class="lead">Women4widows is embarking on a mission to empower widows, and give these women a path towards dignity and a better life</p>
</div>
</div>
<div class="col-md-4">
<div class="xs-about-feature">
<h3>Our Vission</h3>
<p class="lead">Our goal is to first off, provide sustenance for the widows and their families and also to provide a revenue source for them through the agricultural surplus from the farm and acquired skills.</p>
</div>
</div>
<div class="col-md-4">
<div class="xs-about-feature">
<h3>Our Values</h3>
<ul class="xs-unorder-list play green-icon">
<li>Accountability</li>
<li>Reliability</li>
<li>Cost-effectiveness</li>
<li>Transparency</li>
</ul>
 </div>
</div>
</div>
</div>
</section> 

<div class="xs-funfact-section xs-content-section-padding waypoint-tigger parallax-window" style="background-image: url('{% static 'main_app/images/backgrounds/parallax_1.jpg' %}')">
<div class="container">
<div class="row col-lg-10 xs-heading mx-auto">
<h2 class="xs-title color-white small">Our agency has been present for only a few years. We are going to make make the best for all our widows.</h2>
</div>
<div class="row">
<div class="col-lg-3 col-md-6">
<div class="xs-single-funFact color-white">
<i class="icon-group"></i>
<span class="number-percentage-count number-percentage" data-value="25" data-animation-duration="3500">0</span><span></span>
<small>Volunteer</small>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="xs-single-funFact color-white">
<i class="icon-children"></i>
<span class="number-percentage-count number-percentage" data-value="30" data-animation-duration="3500">0</span><span></span>
<small>Widows</small>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="xs-single-funFact color-white">
<i class="icon-planet-earth"></i>
<span class="number-percentage-count number-percentage" data-value="3" data-animation-duration="3500">0</span><span></span>
<small>Countries</small>
</div>
</div>
</div>
</div>
<div class="xs-black-overlay"></div>
</div> 
<section class="xs-section-padding">
    <div class="container">
    <div class="xs-heading row xs-mb-60">
    <div class="col-md-9 col-xl-9">
    <h2 class="xs-title">What We Do</h2>
    <span class="xs-separetor dashed"></span>
    <p>Widows in Nigeria live on the absolute fringe of society. They are often denied inheritance rights and have their property taken after the death of a partner.  With most having no education, they labor for a couple of dollars per day, not near enough to feed their children.  Since they are widowed, they are often abused socially, and many physically, by members of their community.  Sunrise for Rural Dwellers, a 501c3, organized by Fr. Tony Okolo, has embarked on a path to empower widows, and give these women a path towards dignity and a better life.</p>
    </div>
    </div>
    {% include 'main_app/includes/what_we_do.html' %}
    </div>
    </section> 

{% include 'main_app/includes/team.html' %}
{% include 'main_app/includes/partner.html' %}


</main>

{% include "main_app/includes/footer.html" %}
{% endblock content %}

{% block scripts  %}
    {% include "main_app/includes/scripts.html" %}
{% endblock %}
