	{% extends 'base.html' %}
	{% load static %}
	{% block title %}
	Conversation in Action - {{title}}
	{% endblock %}

	{% block styles %}
		{% include 'main_app/includes/styles.html' %}
	{% endblock styles %}

	{% block content %}
	{% include 'main_app/includes/header.html' %}

<section class="xs-banner-inner-section parallax-window" style="background-image:url( {% static 'main_app/images/backgrounds/contact_bg.jpg' %})">
<div class="xs-black-overlay"></div>
<div class="container">
<div class="color-white xs-inner-banner-content">
<h2>Contact Us</h2>
<p>Give a helping hand for poor people</p>
<ul class="xs-breadcumb">
<li class="badge badge-pill badge-primary"><a href="{% url 'main-page' %}" class="color-white"> Home /</a> Contact</li>
</ul>
</div>
</div>
</section>

<main class="xs-main">

<section class="xs-contact-section-v2">
<div class="container">
<div class="xs-contact-container">
<div class="row">
<div class="col-lg-6">
<div class="xs-contact-form-wraper">
<h4>Drop us a line</h4>
<form action="#" method="POST" id="xs-contact-form" class="xs-contact-form contact-form-v2">
<div class="input-group">
<input type="text" name="name" id="xs-name" class="form-control" placeholder="Enter Your Name.....">
<div class="input-group-append">
<div class="input-group-text"><i class="fa fa-user"></i></div>
</div>
</div>
<div class="input-group">
<input type="email" name="email" id="xs-email" class="form-control" placeholder="Enter Your Email.....">
<div class="input-group-append">
<div class="input-group-text"><i class="fa fa-envelope-o"></i></div>
</div>
</div>
<div class="input-group massage-group">
<textarea name="massage" placeholder="Enter Your Message....." id="xs-massage" class="form-control" cols="30" rows="10"></textarea>
<div class="input-group-append">
<div class="input-group-text"><i class="fa fa-pencil"></i></div>
</div>
</div>
<button class="btn btn-success" type="submit" id="xs-submit">submit</button>
</form>
</div>
</div>
<div class="col-lg-6">
<div class="xs-maps-wraper map-wraper-v2">
<div id="xs-map" class="xs-box-shadow-2">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63397.113100071125!2d7.154418241776304!3d6.730809716802797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1044f379dc323ae7%3A0xbacf2d2d05a07129!2sUVURU!5e0!3m2!1sen!2sng!4v1682089230421!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
</div>
</div>
</div>
</div>

<section class="xs-contact-details">
<div class="container">
<div class="row">
<div class="col-md-6 col-lg-4">
<div class="xs-contact-details">
<div class="xs-widnow-wraper">
<div class="xs-window-top">
<img src="assets/images/contact/contact-info-img-1.png" alt="">
</div>
<div class="xs-window-back">
<div id="xs-multiple-map-1" class="xs-map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63397.113100071125!2d7.154418241776304!3d6.730809716802797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1044f379dc323ae7%3A0xbacf2d2d05a07129!2sUVURU!5e0!3m2!1sen!2sng!4v1682089230421!5m2!1sen!2sng" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
<div class="xs-window-nav">
<a href="#" class="xs-window-opener">
<i class="fa fa-angle-right"></i>
</a>
</div>
</div>

<ul class="xs-unorder-list">
<li><i class="fa fa-phone color-green"></i>+88 00 11 22 33</li>
<li><i class="fa fa-envelope-o color-green"></i><a href="https://demo.xpeedstudio.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4d232c20280d3422383f2922202c2423632e2220">[email&#160;protected]</a></li>
<li><i class="fa fa-map-marker color-green"></i>Welington City, Beside Pull, Australia</li>
</ul>
</div>

</div>
<div class="col-md-6 col-lg-4">
<div class="xs-contact-details">
<div class="xs-widnow-wraper">
<div class="xs-window-top">
<img src="assets/images/contact/contact-info-img-2.png" alt="">
</div>
<div class="xs-window-back">
<div id="xs-multiple-map-2" class="xs-map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63397.113100071125!2d7.154418241776304!3d6.730809716802797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1044f379dc323ae7%3A0xbacf2d2d05a07129!2sUVURU!5e0!3m2!1sen!2sng!4v1682089230421!5m2!1sen!2sng" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
<div class="xs-window-nav">
<a href="#" class="xs-window-opener">
<i class="fa fa-angle-right"></i>
</a>
</div>
</div>

<ul class="xs-unorder-list">
<li><i class="fa fa-phone color-green"></i>+09 56 43 768</li>
<li><i class="fa fa-envelope-o color-green"></i><a href="https://demo.xpeedstudio.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="85ebe4e8e0c5fceaf0f7e1eae8e4ecebabe6eae8">[email&#160;protected]</a></li>
<li><i class="fa fa-map-marker color-green"></i>10/A, Hesting City, USA</li>
</ul>
</div>

</div>
<div class="col-md-6 col-lg-4">
<div class="xs-contact-details">
<div class="xs-widnow-wraper">
<div class="xs-window-top">
<img src="assets/images/contact/contact-info-img-3.png" alt="">
</div>
<div class="xs-window-back">
<div id="xs-multiple-map-3" class="xs-map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63397.113100071125!2d7.154418241776304!3d6.730809716802797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1044f379dc323ae7%3A0xbacf2d2d05a07129!2sUVURU!5e0!3m2!1sen!2sng!4v1682089230421!5m2!1sen!2sng" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
<div class="xs-window-nav">
<a href="#" class="xs-window-opener">
<i class="fa fa-angle-right"></i>
</a>
</div>
</div>

<ul class="xs-unorder-list">
<li><i class="fa fa-phone color-green"></i>+00 876 54 34</li>
<li><i class="fa fa-envelope-o color-green"></i><a href="https://demo.xpeedstudio.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="137d727e76536a7c6661777c7e727a7d3d707c7e">[email&#160;protected]</a></li>
<li><i class="fa fa-map-marker color-green"></i>Protus Thom, Prekunak, Africa</li>
</ul>
</div>

</div>
</div>
</div>
</section> 
</section> 
</main>


{% include "main_app/includes/footer.html" %}
{% endblock content %}

{% block scripts  %}
    {% include "main_app/includes/scripts.html" %}
{% endblock %}
