{% extends 'base.html' %}
{% load static %}
{% block title %}
Conversation in Action - {{title}}
{% endblock %}

{% block styles %}
    {% include 'main_app/includes/styles.html' %}
{% endblock styles %}

{% block content %}
{% include 'main_app/includes/header.html' %}

<section class="xs-banner-inner-section parallax-window" style="background-image:url('{% static 'main_app/images/backgrounds/mission_bg.jpg' %}')">
<div class="xs-black-overlay"></div>
<div class="container">
<div class="color-white xs-inner-banner-content">
<h2>Our Projects</h2>
<p>Give a helping hand for poor people</p>
<ul class="xs-breadcumb">
<li class="badge badge-pill badge-primary"><a href="{% url 'main-page' %}" class="color-white"> Home /</a> Projects</li>
</ul>
</div>
</div>
</section>

<main class="xs-main">

<section class="xs-content-section-padding">
<div class="container">
<div class="xs-heading row col-lg-10 xs-mb-70 text-center mx-auto">
<h2 class="xs-mb-0 xs-title">We’ve funded <span class="color-green">120,00 charity projects</span> for 20M people around the world.</h2>
</div>
<div class="row">
<div class="col-md-6 col-lg-3">
<div class="xs-service-promo">
<span class="icon-water color-orange"></span>
<h5>Pure Water <br>For Poor People</h5>
<p>663 million people drink dirty water. Learn how access to clean water can improve health, boost local economies.</p>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="xs-service-promo">
<span class="icon-groceries color-red"></span>
<h5>Healty Food <br>For Poor People</h5>
<p>663 million people drink dirty water. Learn how access to clean water can improve health, boost local economies.</p>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="xs-service-promo">
<span class="icon-heartbeat color-purple"></span>
<h5>Medical <br>Facilities for People</h5>
<p>663 million people drink dirty water. Learn how access to clean water can improve health, boost local economies.</p>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="xs-service-promo">
<span class="icon-open-book color-green"></span>
<h5>Pure Education <br>For Every Children</h5>
<p>663 million people drink dirty water. Learn how access to clean water can improve health, boost local economies.</p>
</div>
</div>
</div>
</div>
</section> 

<section class="xs-section-padding bg-gray-2">
<div class="container">
<div class="row">
<div class="col-lg-4">
<div class="xs-causes-images">
<img src="assets/images/causes/causes_11.jpg" class="d-block" alt="">
</div>
<div class="xs-causes-images">
<img src="assets/images/causes/causes_12.jpg" class="d-block" alt="">
</div>
</div>
<div class="col-lg-8">
<div class="xs-fature-causes-deatils">
<h3> Worldwide, <span class="color-green">20 million childrens</span> have lost both parents and live in orphanages or on the street. </h3>
<ul class="xs-unorder-list">
<li><i class="fa fa-houzz color-orange"></i>The number of adoptions has never kept up with number of children who desperately need a home.</li>
<li><i class="fa fa-gears color-light-green"></i>CharityPress works around the globe to save lives, defeat poverty and achieve social justice.</li>
<li><i class="fa fa-group color-purple"></i>Who despite all other circumstances or challenges, chooses to give her baby life.</li>
<li><i class="fa fa-mercury color-light-red"></i>We recognize that each adoption tells the story of a mom.</li>
</ul>
</div>
</div>
</div>
</div>
</section> 

<section class="parallax-window xs-call-to-action-section" style="background-image: url('assets/images/backgrounds/parallax_2.jpg')">
<div class="container">
<div class="row">
<div class="col-lg-10 mx-auto">
<div class="xs-call-to-action">
<h3>We’re on a project to solve the water crisis and reinvent charity for a new generation. Join the team. We’re hiring.</h3>
<div class="xs-btn-wraper">
<a href="#" class="btn btn-warning">
careers
</a>
<a href="#" class="btn btn-success">
internship
</a>
</div>
</div>
</div>
</div>
</div>
<div class="xs-black-overlay"></div>
</section> 

<section class="xs-section-padding">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="xs-contact-form-wraper">
<div class="xs-heading xs-mb-40">
<h2 class="xs-title">Drop Us a Line</h2>
<p class="small">To learn more about registering your charity with us visit our "<span class="color-green">Work with us</span>" site. By calling <span class="color-green">+44(0) 111 222 3333.</span></p>
<span class="xs-separetor v2"></span>
</div>
<form action="#" method="POST" id="xs-contact-form" class="xs-contact-form">
<div class="input-group">
<input type="text" name="name" id="xs-name" class="form-control" placeholder="Enter Your Name.....">
<div class="input-group-append">
<div class="input-group-text"><i class="fa fa-user"></i></div>
</div>
</div>
<div class="input-group">
<input type="email" name="email" id="xs-email" class="form-control" placeholder="Enter Your Email.....">
<div class="input-group-append">
<div class="input-group-text"><i class="fa fa-envelope-o"></i></div>
</div>
</div>
<div class="input-group massage-group">
<textarea name="massage" placeholder="Enter Your Message....." id="xs-massage" class="form-control" cols="30" rows="10"></textarea>
<div class="input-group-append">
<div class="input-group-text"><i class="fa fa-pencil"></i></div>
</div>
</div>
<button class="btn btn-success" type="submit" id="xs-submit">submit</button>
</form>
</div>
</div>
<div class="col-lg-6">
<div class="xs-maps-wraper">
<div id="xs-map" class="xs-box-shadow-2">
</div>
</div>
</div>
</div>
</div>
</section> 
</main>

        {% include "main_app/includes/footer.html" %}
        {% endblock content %}

        {% block scripts  %}
            {% include "main_app/includes/scripts.html" %}
        {% endblock %}
