{% extends 'base.html' %}
{% load static %}
{% block title %}
Conversation in Action - {{title}}
{% endblock %}

{% block styles %}
    {% include 'main_app/includes/styles.html' %}
{% endblock styles %}

{% block content %}
{% include 'main_app/includes/header.html' %}	

<section class="xs-banner-inner-section parallax-window" style="background-image:url({% static 'main_app/images/widow5_with_fam.jpg' %})">
<div class="xs-black-overlay" style="background-color: rgba(0, 0, 0, 0.8)"></div>
<div class="container">
<div class="color-white xs-inner-banner-content">
<h2>{{title}}</h2>
<p>Give a helping hand for poor people</p>
<ul class="xs-breadcumb">
<li class="badge badge-pill badge-primary"><a href="{% url 'main-page' %}" class="color-white"> Home /</a> {{title}}</li>
</ul>
</div>
</div>
</section>

<main class="xs-main">

    <section class="xs-content-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto row xs-single-event event-blue">
                    <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="{% static 'main_app/images/peaceful_women.jpg' %}" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">23</span>
                                <span class="entry-date-month">jun</span>
                            </div>
                        <div class="xs-black-overlay"></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="{% url 'project' 'uvuru-widows-empowerment' %}">Uvuru Widows' Empowerment.</a>
                        <p>{{ 'SUPPORTING LOCAL WIDOWS TO BECOME PRODUCTIVE IN THE COMMUNITYY THROUGH ECONOMIC EMPOWERMENT' |lower|capfirst }}.</p>
                        <div class="xs-countdown-timer" data-countdown="2020/02/24"></div>
                        <a href="{% url 'project' 'uvuru-widows-empowerment' %}" class="btn btn-primary">
                        Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section> 

    {% include 'main_app/includes/partner.html' %}
</main>

{% include "main_app/includes/footer.html" %}
{% endblock content %}

{% block scripts  %}
	{% include "main_app/includes/scripts.html" %}
{% endblock %}
