{% extends 'base.html' %}
{% load static %}
{% block title %}
Conversation in Action - {{title}}
{% endblock %}

{% block styles %}
    {% include 'main_app/includes/styles.html' %}
{% endblock styles %}

{% block content %}
{% include 'main_app/includes/header.html' %}
<section class="xs-banner-inner-section parallax-window" style="background-image:url('assets/images/backgrounds/team_bg.jpg')">
<div class="xs-black-overlay"></div>
<div class="container">
<div class="color-white xs-inner-banner-content">
<h2>Our Team</h2>
<p>Give a helping hand for poor people</p>
<ul class="xs-breadcumb">
<li class="badge badge-pill badge-primary"><a href="{% url 'main-page' %}" class="color-white"> Home /</a> Team</li>
</ul>
</div>
</div>
</section>

<main class="xs-main">

<section class="xs-section-padding">
<div class="container">
<div class="row">
<div class="col-md-6 col-lg-3">
<div class="xs-single-team xs-mb-50">
<img src="assets/images/team/team_1.png" alt="">
<div class="xs-team-content">
<h4>William Khanna</h4>
<small>CEO & Founder</small>
<svg class="xs-svgs" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 138">
<path class="fill-red" d="M375,3294H645v128a10,10,0,0,1-10,10l-250-20a10,10,0,0,1-10-10V3294Z" transform="translate(-375 -3294)" />
</svg>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="xs-single-team xs-mb-50">
<img src="assets/images/team/team_2.png" alt="">
<div class="xs-team-content">
<h4>Mr. Aladin</h4>
<small>General Manager</small>
<svg class="xs-svgs" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 138">
<path class="fill-purple" d="M375,3294H645v128a10,10,0,0,1-10,10l-250-20a10,10,0,0,1-10-10V3294Z" transform="translate(-375 -3294)" />
</svg>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="xs-single-team xs-mb-50">
<img src="assets/images/team/team_3.png" alt="">
<div class="xs-team-content">
<h4>Zummon Khan</h4>
<small>Volunteer</small>
<svg class="xs-svgs" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 138">
<path class="fill-blue" d="M375,3294H645v128a10,10,0,0,1-10,10l-250-20a10,10,0,0,1-10-10V3294Z" transform="translate(-375 -3294)" />
</svg>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="xs-single-team xs-mb-50">
<img src="assets/images/team/team_4.png" alt="">
<div class="xs-team-content">
<h4>Harista Pro</h4>
<small>Volunteer</small>
<svg class="xs-svgs" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 138">
<path class="fill-orange" d="M375,3294H645v128a10,10,0,0,1-10,10l-250-20a10,10,0,0,1-10-10V3294Z" transform="translate(-375 -3294)" />
</svg>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="xs-single-team">
<img src="assets/images/team/team_5.png" alt="">
<div class="xs-team-content">
<h4>Banana Halim</h4>
<small>Volunteer</small>
<svg class="xs-svgs" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 138">
<path class="fill-riptide" d="M375,3294H645v128a10,10,0,0,1-10,10l-250-20a10,10,0,0,1-10-10V3294Z" transform="translate(-375 -3294)" />
</svg>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="xs-single-team">
<img src="assets/images/team/team_6.png" alt="">
<div class="xs-team-content">
<h4>Kumiriano Li</h4>
<small>Volunteer</small>
<svg class="xs-svgs" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 138">
<path class="fill-yellow" d="M375,3294H645v128a10,10,0,0,1-10,10l-250-20a10,10,0,0,1-10-10V3294Z" transform="translate(-375 -3294)" />
</svg>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="xs-single-team">
<img src="assets/images/team/team_7.png" alt="">
<div class="xs-team-content">
<h4>Tom Rahabi</h4>
<small>Volunteer</small>
<svg class="xs-svgs" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 138">
<path class="fill-green" d="M375,3294H645v128a10,10,0,0,1-10,10l-250-20a10,10,0,0,1-10-10V3294Z" transform="translate(-375 -3294)" />
</svg>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="xs-single-team">
<img src="assets/images/team/team_8.png" alt="">
<div class="xs-team-content">
<h4>Join Now</h4>
<small>Want to join with us</small>
<svg class="xs-svgs" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 138">
<path class="fill-navy-blue" d="M375,3294H645v128a10,10,0,0,1-10,10l-250-20a10,10,0,0,1-10-10V3294Z" transform="translate(-375 -3294)" />
</svg>
</div>
</div>
</div>
</div>
</div>
</section> 

<section class="bg-navy-blue xs-section-padding">
<div class="container-fulid">
<div class="xs-feature-content-v2">
<h2 class="color-white">CharityPress are <span> charity </span> activities are taken place around the world, lets contribute.</h2>
</div>
</div>
</section> 

<section class="xs-partner-section" style="background-image: url('assets/images/map.png');">
<div class="container">
<div class="row">
<div class="col-lg-5">
<div class="xs-partner-content">
<div class="xs-heading xs-mb-40">
<h2 class="xs-mb-0 xs-title">Trusted by the biggest <span class="color-green">brand.</span></h2>
</div>
<p>In-kind donations from our donors and partners allow charity: water to pass 100% of public donations straight to water projects. We are deeply grateful for those who have surprised us with their generosity. A big thanks to the following companies and people who have helped make charity: water’s work possible.</p>
<a href="#" class="btn btn-primary bg-orange">
join us now
</a>
</div>
</div>
<div class="col-lg-7">
<ul class="fundpress-partners">
<li><a href="#"><img src="assets/images/partner/client_1.png" alt=""></a></li>
<li><a href="#"><img src="assets/images/partner/client_2.png" alt=""></a></li>
<li><a href="#"><img src="assets/images/partner/client_3.png" alt=""></a></li>
<li><a href="#"><img src="assets/images/partner/client_4.png" alt=""></a></li>
<li><a href="#"><img src="assets/images/partner/client_5.png" alt=""></a></li>
</ul>
</div>
</div>
</div>
</section> 
</main>
{% include "main_app/includes/footer.html" %}
{% endblock content %}

{% block scripts  %}
    {% include "main_app/includes/scripts.html" %}
{% endblock %}
