{% load static %}
<footer class="xs-footer-section">
    <div class="container">
      <div class="xs-footer-top-layer">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-widget xs-pr-20">
            <a href="index.html" class="xs-footer-logo">
              <img src="{% static 'main_app/images/ururu_logo.jpg' %}" alt="" />
            </a>
            <p>
              Widows in Nigeria live on the absolute fringe of society. <a href="" style="color:orangered">Join us</a> today and be a part of the walk
            </p>
            <ul class="xs-social-list-v2">
              <li>
                <a href="#" class="color-facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#" class="color-twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#" class="color-dribbble"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
              <li>
                <a href="#" class="color-pinterest"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 footer-widget">
            <h3 class="widget-title">About Us</h3>
            <ul class="xs-footer-list">
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="{% url 'team' %}">Team</a></li>
              <li><a href="{% url 'projects' %}">Mission</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-widget">
            <div class="widget recent-posts">
              <h3 class="widget-title">Main Events</h3>
              <ul class="xs-recent-post-widget">
                <li>
                  <div class="posts-thumb float-left">
                    <a href="#">
                      <img
                        alt="img"
                        class="img-responsive"
                        width="70px"
                        height="70px"
                        src="{% static 'main_app/images/bags.jpg'%}"
                      />
                      <div class="xs-entry-date">
                        <span class="entry-date d-block">21</span>
                        <span class="entry-month d-block">dec</span>
                      </div>
                      <div class="xs-black-overlay"></div>
                    </a>
                  </div> 
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a href="#">Donation to the widows</a>
                    </h4>
                    <div class="post-meta">
                      <span class="comments-link">
                        <i class="fa fa-comments-o"></i>
                        <a href="#">300 Comments</a>
                      </span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <div class="posts-thumb float-left">
                    <a href="#">
                      <img
                        alt="img"
                        class="img-responsive"
                        width="70px"
                        height="70px"
                        src="{% static 'main_app/images/tommorrowtomato.jpg'%}"
                      />
                      <div class="xs-entry-date">
                        <span class="entry-date d-block">23</span>
                        <span class="entry-month d-block">sep</span>
                      </div>
                      <div class="xs-black-overlay"></div>
                    </a>
                  </div>
                  <div class="post-info">
                    <h4 class="entry-title">
                      <a href="#">Farming with the widows</a>
                    </h4>
                    <div class="post-meta">
                      <span class="comments-link">
                        <i class="fa fa-comments-o"></i>
                        <a href="#">35 Comments</a>
                      </span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 footer-widget">
            <h3 class="widget-title">Contact Us</h3>
            <ul class="xs-info-list">
              <li>
                <i class="fa fa-home"></i>Sector 12, International Breweries, miosya road VIC
                28, Nigeria.
              </li>
              <li>
                <i class="fa fa-phone"></i>+234 90338662 123.456.7890
                +00 99 88 5647
              </li>
              <li>
                <i class="fa fa-envelope-o"></i
                ><a
                  href="https://github.com/Code-Warlock"
                  ><span
                    >Women4widows@help-desk.com</span
                  ></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="xs-copyright">
        <div class="row">
          <div class="col-md-6">
            <div class="xs-copyright-text">
              <p>
                &copy; Copyright 2023
                <a href="https://github.com/Code-Warlock"
                  >Women4widows</a
                >
                - All Right's Reserved
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <nav class="xs-footer-menu">
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Help Desk</a></li>
                <li><a href="#">Support</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="xs-back-to-top-wraper">
      <a href="#" class="xs-back-to-top"><i class="fa fa-angle-up"></i></a>
    </div>
  </footer>