{% load static %}
<section class="xs-partner-section" style="background-image: url({% static 'main_app/images/map.png' %});">
    <div class="container">
    <div class="row">
    <div class="col-lg-5">
    <div class="xs-partner-content">
    <div class="xs-heading xs-mb-40">
    <h2 class="xs-mb-0 xs-title">Trusted by the biggest <span class="color-green">brand.</span></h2>
    </div>
    <p>In-kind donations from our donors and partners allows for extended support to our widows: means to pass 100% of public donations straight to projects for our women. We are deeply grateful for those who have surprised us with their generosity. A big thanks to the following companies and people who have helped make women4widows' work possible.</p>
    <a href="#" class="btn btn-primary bg-orange">
    join us now
    </a>
    </div>
    </div>
    <div class="col-lg-7">
    <ul class="women4widows">
        <li>
            <a href="#"
              ><img src="{% static 'main_app/images/sunrise-no-bg.png' %}" alt=""
            /></a>
          </li>
    <li><a href="#"><img src="{% static 'main_app/images/partner/client_2.png' %}" alt=""></a></li>
    <li><a href="#"><img src="{% static 'main_app/images/partner/client_3.png' %}" alt=""></a></li>
    <li><a href="#"><img src="{% static 'main_app/images/partner/client_4.png' %}" alt=""></a></li>
    <li><a href="#"><img src="{% static 'main_app/images/partner/client_5.png' %}" alt=""></a></li>
    </ul>
    </div>
    </div>
    </div>
    </section> 