{% load static %}
{% comment %} <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> {% endcomment %}
<script src="{% static "main_app/js/jquery-3.2.1.min.js"%}"></script>
<script src="{% static "main_app/js/plugins.js" %}"></script>
<script src="{% static "main_app/js/bootstrap.min.js" %}"></script>
<script src="{% static "main_app/js/isotope.pkgd.min.js" %}"></script>
<script src="{% static "main_app/js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "main_app/js/owl.carousel.min.js" %}"></script>
<script src="{% static "main_app/js/jquery.waypoints.min.js" %}"></script>
<script src="{% static "main_app/js/jquery.countdown.min.js" %}"></script>
<script src="{% static "main_app/js/spectragram.min.js" %}"></script>
<script src="{% static "main_app/js/main.js"%}"></script>