{% load static %}
<section
  class="bg-gray xs-partner-section"
  style="background-image: url('{% static 'main_app/images/map.png' %}')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="xs-partner-content">
          <div class="xs-heading xs-mb-40">
            <h2 class="xs-mb-0 xs-title">
              Women4Widows is proudly sponsored by <span>Sunrise.</span>
            </h2>
          </div>
          <p>
            Sunrise for Rural Dwellers, a 501c3, founded by Fr. Tony Okolo, has embarked on a path to empower widows, and give these women a path towards dignity and a better life. Sunrise for Rural Dwellers is working towards empowering these women by funding a farm.  Their goal is two-fold:  provide sustenance for the widows and their families and provide a revenue source for them through the agricultural surplus from the farm. Therefore, this investment in the widows, lifts their families, Nigeria, and all of society.
            <br />
            <span class="color-primary"><b>Philip Tirone</b></span> as the president of Sunrise for Rural Dwellers has helped immensely in raising funds to support the projects being built by Sunrise.
          </p>
          <a href="#" class="btn btn-primary"> join us now </a>
        </div>
      </div>
      <div class="col-lg-7">
        <ul class="women4widows-sp">
          <li>
            <a href="#"
              ><img src="{% static 'main_app/images/sunrise-no-bg.png' %}" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>