<div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="xs-service-promo">
        <span class="icon-water"></span>
        <h5>Education <br />For the widows</h5>
        <p>
          Providing education for widows with multi-faceted approaches like establishing scholarships, partnering with educational institutions,provide mentoring and support, etc. to address their individual needs and circumstances. By empowering them with education, widows can gain the skills and knowledge they need to improve their lives and those of their families.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="xs-service-promo">
        <span class="icon-groceries"></span>
        <h5>Healty Food <br />For the Widows</h5>
        <p>
          We are creating community farms that the widows can use to grow their own fruits and vegetables. This can provide a source of fresh, healthy food and can also be a social activity that helps widows connect with others in their community.
          <br>
          We are also providing cooking and nutrition education can help widows learn how to prepare healthy meals for themselves and their families. We would also be offering classes and/or workshops that teach basic cooking skills, meal planning, and nutrition education.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="xs-service-promo">
        <span class="icon-heartbeat"></span>
        <h5>Medical <br />outreach and benefit for widows</h5>
        <p>
          To provide a medical outreach event designed to enable widows to know their health status and at the same time issue medical advice that will support their well-being.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="xs-service-promo">
        <span class="icon-open-book"></span>
        <h5> Skill Acquisition <br />For all of the widows</h5>
        <p>
          Providing vocational training can be an effective way to give widows skills that they can use to earn a living. We have considered offering training in areas such as tailoring, catering, handicrafts, or computer skills.
          These skills would eventually make them financially independent and thereby, improve the quality of their living.
        </p>
      </div>
    </div>
  </div>